.navbar-brand{
	font-size: 75%;
}
.navbar a{
	text-decoration: none;
	color: black;
	transition: 0.5s;
}

.navbar li:hover{
	background-color: #E94615;
	color: white;
}
.navbar li:hover a{
	color: white;
}
.navbar li{
	padding: 0 20px 0 20px;
	transition: 0.5s;
}	